.job-sets-action-container {
    padding: 0 4em 2em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 100%;
}

.job-sets-action-container .job-sets-action-text {
    width: 100%;
}

.job-sets-action-container .job-sets-action-table-container {
    width: 100%;
    max-height: 100%;
    margin-bottom: 2em;
}

.job-sets-action-container .job-sets-action-table {
    width: 100%;
    table-layout: fixed;
}

.job-sets-action-container .job-sets-action-wrap {
    white-space: normal;
    word-wrap: break-word;
}

.job-sets-action-container .job-sets-action-success {
    background-color: #e8f5e9;
}

.job-sets-action-container .job-sets-action-failure-header {
    background-color: #ffcdd2 !important;
}

.job-sets-action-container .job-sets-action-failure {
    background-color: #ffebee;
}
