.job-set-table-header {
    text-align: center;
}

.job-set-table-number-cell {
    text-align: right;
    padding-right: 1em;
}

.job-set-submission-time-header-cell {
    font-weight: 700;
    text-transform: uppercase;
}

.job-set-table-job-set-name-cell {
    white-space: normal !important;
    word-break: break-word !important;
}

.DragHandle {
    flex: 0 0 16px;
    z-index: 2;
    cursor: col-resize;
    color: #0085ff;
  }
  
  .DragHandle:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .DragHandleActive,
  .DragHandleActive:hover {
    color: #0b6fcc;
    z-index: 3;
  }
    