.job-sets {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    max-height: 80vh;
}

.job-sets-header {
    flex: 0 1 auto;
    margin-top: 0.66em;
    margin-bottom: 0.66em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-sets-header .title {
    margin-left: 16px;
    margin-bottom: 0.6em;
}

.job-sets-header .refresh-button {
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-sets-content {
    flex: 1 1 auto;
}

.link {
    display: inline-block;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
