.job-sets {
    flex: 1 0 auto;
    width: 100%;
    display: flex !important;
    margin-top: 1em;
    flex-direction: column;
}

.job-sets-header {
    width: 100%;
    flex: 0 1 auto;
    margin-top: 0.66em;
    margin-bottom: 0.66em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-sets-header .title {
    margin-left: 16px;
}

.job-sets-header .job-sets-params {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job-sets-header .job-sets-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.job-sets-header .job-sets-actions .cancel-button {
    margin-right: 4em;
}

.job-sets-field {
    min-width: 8em;
    margin-right: 1em;
    margin-left: 1em;
}

.job-sets-header .refresh-button {
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-sets-content {
    width: 100%;
    flex: 1 0 auto;
}

.link {
    display: inline-block;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
