.job-set-table-header {
    text-align: center;
}

.job-set-table-number-cell {
    text-align: right;
    padding-right: 1em;
}

.job-set-submission-time-header-cell {
    font-weight: 700;
    text-transform: uppercase;
}
