grpcPort: 60003
httpPort: 8090
subscribeJobSetTime: 1000
databasePath: "/var/jobservice.db"
grpc:
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 2h
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 5m
    permitWithoutStream: false
apiConnection:
  armadaUrl: "server:50051"
