grpcPort: 60003
httpPort: 8090
purgeJobSetTime: 1000
subscribeJobSetTime: 100
subscriberPoolSize: 30
# databaseType can be either 'postgres' or 'sqlite'
databaseType: "postgres"
# databasePath specifies the location of the back-end
# storage file when using database type 'sqlite'
databasePath: "/var/jobservice.db"
# Connection details when using database type 'postgres'
postgresConfig:
  poolMaxConns: 50
  poolMinConns: 10
  poolMaxConnLifetime: 30m
  connection:
    host: postgres
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable
grpc:
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 2h
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 5m
    permitWithoutStream: false
# gRPC connection pool to armada server configuration.
grpcPool:
  initialConnections: 5
  capacity: 5
# These connections can be used in production if not explicity overridden.
# Do not add ForceNoTls as that can cause silent failures
# If you want that for local testing, then use an override.
apiConnection:
  armadaUrl: "server:50051"

