image:
  repository: gresearchdev/armada-binoculars
  tag: 0.0.0-latest
resources:
  limits:
    memory: 1Gi
    cpu: 300m
  requests:
    memory: 512Mi
    cpu: 200m
additionalLabels: {}
additionalClusterRoleBindings: []
additionalVolumeMounts: []
additionalVolumes: []
terminationGracePeriodSeconds: 5
replicas: 1
strategy:
  rollingUpdate:
    maxUnavailable: 1
  type: RollingUpdate
ingress:
  annotations: {}
  labels: {}
prometheus:
  enabled: false
  labels: {}
  scrapeInterval: 10s
customServiceAccount: null
serviceAccount: null

applicationConfig:
  grpcPort: 50051
  httpPort: 8080
  metricsPort: 9000
