version: "3.8"

networks:
  kind:
    external: true

services:
  #
  # Infrastructure services.
  # A Kubernetes cluster (e.g., kind) must also be setup before starting Armada.
  #
  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379
    networks:
      - kind

  postgres:
    container_name: postgres
    image: postgres:12.13-alpine
    environment:
      - POSTGRES_PASSWORD=psw
    ports:
      - "5432:5432"
    volumes:
      - ./developer/dependencies/postgres-init.sh:/docker-entrypoint-initdb.d/init-database.sh
    networks:
      - kind

  pulsar:
    image: ${PULSAR_IMAGE:-apachepulsar/pulsar:2.10.0}
    container_name: pulsar
    volumes:
      - ./developer/dependencies/pulsar.conf:/conf/pulsar.conf
    entrypoint: bin/pulsar standalone
    ports:
      - 0.0.0.0:6650:6650
    networks:
      - kind

  #
  # Armada services.
  #
  server:
    container_name: server
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 50051:50051
      - 8080:8080
    volumes:
      - ./developer/config/insecure-armada.yaml:/config/insecure-armada.yaml
    depends_on:
      - redis
      - postgres
      - pulsar
      - eventingester
    command: ./server --config /config/insecure-armada.yaml

  executor:
    container_name: executor
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 9001:9001
    depends_on:
      - server
    volumes:
      - ./.kube/internal:/.kube
    environment:
      - KUBECONFIG=/.kube/config
    env_file:
      - ./developer/env/executor.env
    command: ./executor

  binoculars:
    container_name: binoculars
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 8082:8082
    depends_on:
      - server
    volumes:
      - ./.kube/internal:/.kube
    environment:
      - KUBECONFIG=/.kube/config
    command: ./binoculars

  eventingester:
    container_name: eventingester
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    depends_on:
      - redis
    command: ./eventingester

  lookout:
    container_name: lookout
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - "8089:8080"
    depends_on:
      - server
      - lookoutingester
    volumes:
      - ./internal/lookout/ui/build:/app/internal/lookout/ui/build
    env_file:
      - ./developer/env/lookout.env
    entrypoint: sh -c "./lookout --migrateDatabase && ./lookout"

  lookoutv2:
    container_name: lookoutv2
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - "10000:10000"
    depends_on:
      - server
      - lookoutingesterv2
    env_file:
      - ./developer/env/lookoutv2.env
    working_dir: "/app"
    entrypoint: sh -c "./lookoutv2 --migrateDatabase && ./lookoutv2"

  lookoutingester:
    container_name: lookoutingester
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    command: ./lookoutingester

  lookoutingesterv2:
    container_name: lookoutingesterv2
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    env_file:
      - ./developer/env/lookoutv2.env
    command: ./lookoutingesterv2

  jobservice:
    container_name: jobservice
    image: ${ARMADA_IMAGE:-gresearch/armada}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 60003:60003
    depends_on:
      - server
    command: ./jobservice

  airflow:
    container_name: airflow
    image: python:3.8-buster
    networks:
      - kind
    ports:
      - 8081:8081
    volumes:
      - ".:/app:rw"
    working_dir: "/app"
    entrypoint: sh -c "localdev/scripts/airflow-start.sh"