version: "3.8"

networks:
  kind:
    external: true

volumes:
  # shared gopath volume for armada services
  # with this, modules do not need to be redundantly downloaded
  # and persist through restarts
  gopath:
  # shared gocache volume for armada services
  # with this, build artifacts do not need to be redundantly downloaded
  # and persist through restarts
  go-cache:

services:
  #
  # Infrastructure services.
  # A Kubernetes cluster (e.g., kind) must also be setup before starting Armada.
  #
  redis:
    container_name: redis
    image: redis
    ports:
      - 6379:6379
    networks:
      - kind

  postgres:
    container_name: postgres
    image: postgres:12.13-alpine
    environment:
      - POSTGRES_PASSWORD=psw
    ports:
      - "5432:5432"
    volumes:
      - ./developer/dependencies/postgres-init.sh:/docker-entrypoint-initdb.d/init-database.sh
    networks:
      - kind

  pulsar:
    image: ${PULSAR_IMAGE:-apachepulsar/pulsar:2.10.0}
    container_name: pulsar
    volumes:
      - ./developer/dependencies/pulsar.conf:/conf/pulsar.conf
    entrypoint: bin/pulsar standalone
    ports:
      - 0.0.0.0:6650:6650
    networks:
      - kind

  #
  # Armada services.
  #
  server:
    container_name: server
    image: ${ARMADA_IMAGE:-gresearch/armada-bundle}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 50051:50051
      - 8080:8080
      - 4000:4000
    volumes:
      - ./developer/config/insecure-armada.yaml:/config/insecure-armada.yaml
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    depends_on:
      - redis
      - postgres
      - pulsar
      - eventingester
    working_dir: /app
    env_file:
      - ./developer/env/server.env
    command: ./server --config /config/insecure-armada.yaml

  executor:
    container_name: executor
    image: ${ARMADA_IMAGE:-gresearch/armada-bundle}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 9001:9001
      - 4001:4000
    depends_on:
      - server
    volumes:
      - ./.kube/internal:/.kube
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    environment:
      - KUBECONFIG=/.kube/config
    env_file:
      - ./developer/env/executor.env
    working_dir: /app
    command: ./executor

  binoculars:
    container_name: binoculars
    image: ${ARMADA_IMAGE:-gresearch/armada-bundle}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 8082:8082
      - 4002:4000
    depends_on:
      - server
    volumes:
      - ./.kube/internal:/.kube
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    environment:
      - KUBECONFIG=/.kube/config
    working_dir: /app
    command: ./binoculars

  eventingester:
    container_name: eventingester
    image: ${ARMADA_IMAGE:-gresearch/armada-bundle}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - 4003:4000
    volumes:
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    depends_on:
      - redis
    working_dir: /app
    command: ./eventingester

  lookout:
    container_name: lookout
    image: ${ARMADA_IMAGE:-gresearch/armada-lookout-bundle}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - "8089:8080"
      - "4004:4000"
    depends_on:
      - server
      - lookoutingester
    volumes:
      - ./internal/lookout/ui/build:/app/internal/lookout/ui/build
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    env_file:
      - ./developer/env/lookout.env
    working_dir: /app
    entrypoint: sh -c "./lookout --migrateDatabase && ./lookout"

  lookoutv2:
    container_name: lookoutv2
    image: ${ARMADA_IMAGE:-gresearch/armada-lookout-bundle}:${ARMADA_IMAGE_TAG:-latest}
    networks:
      - kind
    ports:
      - "10000:10000"
      - "4005:4000"
    depends_on:
      - server
      - lookoutingesterv2
    volumes:
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    env_file:
      - ./developer/env/lookoutv2.env
    working_dir: "/app"
    entrypoint: sh -c "./lookoutv2 --migrateDatabase && ./lookoutv2"

  lookoutingester:
    container_name: lookoutingester
    image: ${ARMADA_IMAGE:-gresearch/armada-lookout-bundle}:${ARMADA_IMAGE_TAG:-latest}
    ports:
      - 4006:4000
    volumes:
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    networks:
      - kind
    command: ./lookoutingester

  lookoutingesterv2:
    container_name: lookoutingesterv2
    image: ${ARMADA_IMAGE:-gresearch/armada-lookout-bundle}:${ARMADA_IMAGE_TAG:-latest}
    ports:
      - 4007:4000
    volumes:
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    networks:
      - kind
    env_file:
      - ./developer/env/lookoutv2.env
    working_dir: /app
    command: ./lookoutingesterv2

  jobservice:
    container_name: jobservice
    image: ${ARMADA_IMAGE:-gresearch/armada-jobservice}:${ARMADA_IMAGE_TAG:-latest}
    volumes:
      - "go-cache:/root/.cache/go-build:rw"
      - "gopath:/go:rw"
    networks:
      - kind
    ports:
      - 60003:60003
      - 4008:4000
    depends_on:
      - server
    env_file:
      - ./developer/env/jobservice.env
    working_dir: /app
    command: ./jobservice run

  airflow:
    container_name: airflow
    image: python:3.8-buster
    networks:
      - kind
    ports:
      - 8081:8081
    volumes:
      - ".:/app:rw"
    working_dir: "/app"
    entrypoint: sh -c "developer/dependencies/airflow-start.sh"
