.logsHeader {
  flex: 0 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.logOption {
  flex: 1 1 30%;
  padding: 0 5px 0 5px;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

.emptyLogView {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.didNotRun {
  display: flex;
  align-items: center;
  justify-content: center;
}
