.header-job-log-divider {
  display: none;
}

.headerJobLog h4 {
  color: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 550px) {
  .headerJobLog {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .headerJobLog h4 {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .headerJobLogDivider {
    display: flex;
  }
}
