.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

.logView {
  width: 100%;
  white-space: pre-wrap;
  font-family: monospace;
  word-wrap: break-word;
  margin-top: 5px;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
}

.logView * {
  overflow-anchor: none;
}

.anchor {
  overflow-anchor: auto;
  height: 20px;
}
