.sidebarLogsTabContainer {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.logsHeader {
  flex: 0 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.logOption {
  flex: 1 1 30%;
  padding: 0 5px 0 5px;
}

.gutter {
  flex: 0 0 40px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.errorMessage {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  white-space: pre-wrap;
  font-family: monospace;
  word-wrap: break-word;
  overflow-y: auto;
  background-color: #ffcdd2;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0.5em 0;
}

.logViewContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.logViewNewTab {
  text-align: center;
  display: flex;
  margin-right: 0.5rem;
  max-width: 100px;
  align-self: flex-end;
}

.logView {
  width: 100%;
  white-space: pre-wrap;
  font-family: monospace;
  word-wrap: break-word;
  margin-top: 5px;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #000000;
  padding: 10px 0 0 10px;
}

.emptyLogView {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.timestamp {
  background-color: #e0e0e0;
  margin-right: 10px;
}

.didNotRun {
  display: flex;
  align-items: center;
  justify-content: center;
}
