apiPort: 10000
corsAllowedOrigins:
  - "http://localhost:3000"
  - "http://localhost:8089"
  - "http://localhost:10000"
tls:
  enabled: false
  certPath: /certs/tls.crt
  keyPath: /certs/tls.key
postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: postgres
    port: 5433
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable
prunerConfig:
  expireAfter: 1008h  # 42 days, 6 weeks
  timeout: 1h
  batchSize: 1000
uiConfig:
  armadaApiBaseUrl: "http://armada-server:8080"
  userAnnotationPrefix: "armadaproject.io/"
  binocularsEnabled: true
  binocularsBaseUrlPattern: "http://armada-binoculars:8080"
  overviewAutoRefreshMs: 15000
  jobSetsAutoRefreshMs: 15000
  jobsAutoRefreshMs: 30000
