version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12.6
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/G-Research/k8s-batch
    steps:
      - checkout
      - setup_remote_docker

      # specify any bash command here prefixed with `run: `
      - run: go get -v -d ./...
      - run: go test -v ./...
      - run: exit $(gofmt -l . | wc -l)
      - run: docker build -t executor:${CIRCLE_SHA1} -f ./build/executor/Dockerfile .
