version: 2.1

commands:
  deploy-executor:
    parameters:
      worker-id:
        type: string
        default: "1"
    steps:
      - run:
          name: "Deploy to worker << parameters.worker-id >>"
          command: |
            echo $KUBECONFIG_WORKER_<< parameters.worker-id >> | base64 -d > kubeconfig_worker_<< parameters.worker-id >>_decoded.yaml
            export KUBECONFIG=./kubeconfig_worker_<< parameters.worker-id >>_decoded.yaml
            if timeout 15 helm list; then
              helm upgrade --install armada-executor --namespace=armada ./deployment/executor/ -f ./executor_config.yaml \
              --set applicationConfig.application.clusterId="worker-pool-<< parameters.worker-id >>" \
              --set image.repository=gresearchdev/armada-executor-dev  \
              --set image.tag="${CIRCLE_SHA1}"

              helm upgrade --install executor-cluster-monitoring --namespace=common ./deployment/executor-cluster-monitoring --set interval=5s
            else
              echo Unable to connect to worker << parameters.worker-id >>
            fi

  install-helm-client:
    description: |
      Install the Helm v3 client
      Download from: https://get.helm.sh
    steps:
    - run:
        name: Install and init the helm client
        command: |
          if which helm > /dev/null; then
            echo "Helm is already installed.. skipping install"
          else
            HELM_VERSION="3.2.4"
            HELM_PLATFORM="linux-amd64"

            # Create local bin directory for later convenience
            mkdir /home/circleci/bin/
            echo 'export PATH=/home/circleci/bin/:$PATH' >> $BASH_ENV
            source $BASH_ENV

            # Get helm
            curl -LSs https://get.helm.sh/helm-v$HELM_VERSION-$HELM_PLATFORM.tar.gz | tar xvz --strip-components=1 -C /home/circleci/bin $HELM_PLATFORM/helm
          fi

  checkout-charts:
    description: |
      Checkout G-Research charts repo so we can update them later
      Checkout from: https://github.com/G-Research/charts
    steps:
    - run:
        name: Set .ssh directory and GIT_SSH_COMMAND
        command: |
          echo 'SSH_CONFIG_DIR="/home/circleci/.ssh"' >> $BASH_ENV
          echo 'GIT_SSH_COMMAND="ssh -o UserKnownHostsFile=$SSH_CONFIG_DIR/known_hosts"' >> $BASH_ENV
          source $BASH_ENV

    - run:
        name: Create known_hosts file for github.com
        command: |
          mkdir -p $SSH_CONFIG_DIR
          echo 'github.com ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==' >> $SSH_CONFIG_DIR/known_hosts

    - run:
        name: Clone the G-Research common charts repo
        command: |
          eval "$(ssh-agent -s)"
          echo -e "$ARMADA_CHART_UPDATE_KEY" | ssh-add - > /dev/null
          git clone -q git@github.com:G-Research/charts.git

  update-charts:
    description: |
      Update Armada charts in the common G-Research charts repo 
    steps:
    - run:      
        name: Update version, appVersion and image tag to match current $RELEASE_TAG
        command: |
          RELEASE_TAG=${CIRCLE_TAG}
          echo release version is $RELEASE_TAG
          find . \( -name "Chart.yaml" -o -name "values.yaml" \) -exec sed -i s/LATEST/$RELEASE_TAG/ {} +

    - run:
        name: Build new packages and index.yaml
        command: |
          helm package deployment/armada/ -d charts/armada/
          helm package deployment/executor -d charts/armada/
          helm package deployment/executor-cluster-monitoring/ -d charts/armada/
          helm repo index charts/

    - run:
        name: Commit and push updated charts
        command: |
          cd charts
          git checkout -b circlci-armada_$RELEASE_TAG
          git -c user.name='GR OSS' -c user.email=github@gr-oss.io commit -qam "Pushing new helm charts at version $RELEASE_TAG"
          eval "$(ssh-agent -s)"
          echo -e "$ARMADA_CHART_UPDATE_KEY" | ssh-add - > /dev/null
          git push -q origin HEAD

jobs:
  build:
    machine:
      docker_layer_caching: true
      image: ubuntu-1604:201903-01
    environment:
      GO111MODULE: "on"
      GOPATH: "/home/circleci/go"
      GOCACHE: "/home/circleci/go/cache"
    working_directory: ~/go/src/github.com/G-Research/armada
    steps:
      - checkout
      - run: e2e/setup/setup_environment.sh
      - run:
          name: Start cluster for e2e tests
          command: ./e2e/setup/setup_cluster_ci.sh

      - restore_cache:
          keys:
            - machine-go-mod-v1-{{ checksum "go.sum" }}

      - run:
          name: Test
          command: make tests

      - run:
          name: Build & Run e2e tests
          command: make build-ci tests-e2e

      - run: cat go.sum

      - save_cache:
          key: machine-go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/home/circleci/go/pkg/mod"
            - "/home/circleci/go/cache"

      - run:
          name: ineffassign
          command: go run github.com/gordonklaus/ineffassign .

      - run:
          name: Check formatting
          command: |
            exit $(go run golang.org/x/tools/cmd/goimports -l -local "github.com/G-Research/armada" . | wc -l)


      - store_artifacts:
          path: bin/armadactl
          destination: armadactl

      - run:
          name: Push Image
          command: |

            if [ -z "${DOCKERHUB_USER}" ]
              then
                echo "Do not push image inside fork."
                exit 0
            fi

            TAG=${CIRCLE_SHA1}

            if [ ${CIRCLE_BRANCH} != master ]
              then
                TAG=branch-${CIRCLE_BRANCH}-${CIRCLE_SHA1}
            fi

            echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USER} --password-stdin

            docker tag armada gresearchdev/armada-server-dev:${TAG}
            docker push gresearchdev/armada-server-dev:${TAG}

            docker tag armada-executor gresearchdev/armada-executor-dev:${TAG}
            docker push gresearchdev/armada-executor-dev:${TAG}

            docker tag armadactl gresearchdev/armada-armadactl-dev:${TAG}
            docker push gresearchdev/armada-armadactl-dev:${TAG}

            docker tag armada-load-tester gresearchdev/armada-load-tester-dev:${TAG}
            docker push gresearchdev/armada-load-tester-dev:${TAG}

            docker tag armada-fakeexecutor gresearchdev/armada-fakeexecutor-dev:${TAG}
            docker push gresearchdev/armada-fakeexecutor-dev:${TAG}

  deploy:
    docker:
      - image: alpine/helm:2.13.1
    working_directory: /go/src/github.com/G-Research/armada
    steps:
      - checkout
      - run:
          name: "Extract config files from environment variables"
          command: |
            echo $ARMADA_CONFIG | base64 -d > armada_config.yaml
            echo $EXECUTOR_CONFIG | base64 -d > executor_config.yaml
      - run:
          name: "Deploy to services"
          command: |
            echo $KUBECONFIG_SERVICES | base64 -d > kubeconfig_services_decoded.yaml
            export KUBECONFIG=./kubeconfig_services_decoded.yaml
            if timeout 15 helm list; then
              helm upgrade --install armada --namespace=armada ./deployment/armada/ -f ./armada_config.yaml --set image.repository=gresearchdev/armada-server-dev --set image.tag="${CIRCLE_SHA1}"
            else
              echo Unable to connect to services cluster
            fi
      - deploy-executor:
          worker-id: "1"
      - deploy-executor:
          worker-id: "2"
      - deploy-executor:
          worker-id: "3"
      - deploy-executor:
          worker-id: "4"
      - deploy-executor:
          worker-id: "5"

  release:
    docker:
      - image: circleci/golang:1.12.6
        environment:
          GO111MODULE: "on"
    working_directory: /go/src/github.com/G-Research/armada
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Build armadactl release artifacts
          command: make build-armadactl-release RELEASE_VERSION=${CIRCLE_TAG}

      - store_artifacts:
          path: dist/*

      - run:
          name: Upload artifacts to Github release
          command: |
            for artifact in ./dist/*; do
              ./scripts/upload-github-release-asset.sh ${GITHUB_TOKEN} ${CIRCLE_TAG} $artifact
            done

            ./scripts/add-checksum-summary.sh ${GITHUB_TOKEN} ${CIRCLE_TAG}

      - run:
          name: Publish images
          command: |
            TAG=${CIRCLE_SHA1}
            RELEASE_TAG=${CIRCLE_TAG}

            echo ${DOCKERHUB_PASS} | docker login -u ${DOCKERHUB_USER} --password-stdin

            docker pull gresearchdev/armada-server-dev:${TAG}
            docker tag gresearchdev/armada-server-dev:${TAG} gresearchdev/armada-server:${RELEASE_TAG}
            docker push gresearchdev/armada-server:${RELEASE_TAG}

            docker pull gresearchdev/armada-executor-dev:${TAG}
            docker tag gresearchdev/armada-executor-dev:${TAG} gresearchdev/armada-executor:${RELEASE_TAG}
            docker push gresearchdev/armada-executor:${RELEASE_TAG}

            docker pull gresearchdev/armada-armadactl-dev:${TAG}
            docker tag gresearchdev/armada-armadactl-dev:${TAG} gresearchdev/armada-armadactl:${RELEASE_TAG}
            docker push gresearchdev/armada-armadactl:${RELEASE_TAG}

      - install-helm-client

      - checkout-charts

      - update-charts

  release-dotnet-client:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.0.101-alpine3.10
    working_directory: /go/src/github.com/G-Research/armada
    steps:
      - checkout

      - run:
          name: Release dotnet client
          command: |
            RELEASE_TAG=${CIRCLE_TAG#"v"}
            dotnet pack client/DotNet/Armada.Client/Armada.Client.csproj -c Release -p:PackageVersion=${RELEASE_TAG} -o ./bin/client/DotNet
            dotnet nuget push ./bin/client/DotNet/G-Research.Armada.Client.${RELEASE_TAG}.nupkg -k ${NUGET_API_KEY} -s https://api.nuget.org/v3/index.json

      - store_artifacts:
          path: bin/client/DotNet/*

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - release:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - release-dotnet-client:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/

