cyclePeriod: 1s
schedulePeriod: 10s
maxSchedulingDuration: 5s
executorTimeout: 1h
databaseFetchSize: 1000
pulsarSendTimeout: 5s
internedStringsCacheSize: 100000
metrics:
  port: 9000
  refreshInterval: 30s
pulsar:
  URL: "pulsar://pulsar:6650"
  jobsetEventsTopic: "events"
  maxConnectionsPerBroker: 1
  compressionType: zlib
  compressionLevel: faster
  maxAllowedMessageSize: 4194304 #4Mi
redis:
  addrs:
    - redis:6379
  password: ""
  db: 0
  poolSize: 1000
postgres:
  connection:
    host: postgres
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable
leader:
  mode: standalone
  leaseLockName: armada-scheduler
  LeaseLockNamespace: "" # This must be set so viper allows env vars to overwrite it
  leaseDuration: 15s
  renewDeadline: 10s
  retryPeriod: 2s
  podName: "" # This must be set so viper allows env vars to overwrite it
  leaderConnection:
    armadaUrl: "localhost:50052" # <name> will get replaced with the lease owners name
http:
  port: 8080
grpc:
  port: 50052
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 120s
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 10s
    permitWithoutStream: true
scheduling:
  executorTimeout: 10m
  enableAssertions: true
  fairnessModel: "AssetFairness"
  dominantResourceFairnessResourcesToConsider:
    - "cpu"
    - "memory"
    - "nvidia.com/gpu"
  resourceScarcity:
    cpu: 1.0
  preemption:
    alwaysAttemptScheduling: false
    enabled: true
    nodeEvictionProbability: 1.0
    nodeOversubscriptionEvictionProbability: 1.0
    nodeIdLabel: kubernetes.io/hostname
    priorityClasses:
      armada-default:
        priority: 1000
        preemptible: false
        maximumResourceFractionPerQueue:
          memory: 1.0
          cpu: 1.0
      armada-preemptible:
        priority: 1000
        preemptible: true
    defaultPriorityClass: armada-default
    priorityClassNameOverride: armada-default
  maxQueueLookback: 1000
  maxExtraNodesToConsider: 1
  maximumResourceFractionToSchedule:
    memory: 1.0
    cpu: 1.0
  maximumJobsToSchedule: 5000
  maxUnacknowledgedJobsPerExecutor: 2500
  maxJobSchedulingContextsPerExecutor: 10000
  defaultJobLimits:
    cpu: 1
    memory: 1Gi
    ephemeral-storage: 8Gi
  defaultJobTolerations:
    - key: "armadaproject.io/armada"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
  defaultJobTolerationsByPriorityClass:
    armada-default:
      - key: "armadaproject.io/pc-armada-default"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    armada-preemptible:
      - key: "armadaproject.io/pc-armada-preemptible"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
  maxRetries: 5
  indexedResources:
    - name: "cpu"
      resolution: "100m"
    - name: "memory"
      resolution: "1Mi"
  gangIdAnnotation: armadaproject.io/gangId
  gangCardinalityAnnotation: armadaproject.io/gangCardinality

