cyclePeriod: 1s
schedulePeriod: 10s
maxSchedulingDuration: 5s
executorTimeout: 1h
databaseFetchSize: 1000
pulsarSendTimeout: 5s
internedStringsCacheSize: 100000
metrics:
  port: 9000
  refreshInterval: 30s
pulsar:
  URL: "pulsar://pulsar:6650"
  jobsetEventsTopic: "events"
  maxConnectionsPerBroker: 1
  compressionType: zlib
  compressionLevel: faster
  maxAllowedMessageSize: 4194304 #4Mi
redis:
  addrs:
    - redis:6379
  password: ""
  db: 0
  poolSize: 1000
postgres:
  connection:
    host: postgres
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable
leader:
  mode: standalone
  leaseLockName: armada-scheduler
  LeaseLockNamespace: "" # This must be set so viper allows env vars to overwrite it
  leaseDuration: 15s
  renewDeadline: 10s
  retryPeriod: 2s
  podName: "" # This must be set so viper allows env vars to overwrite it
grpc:
  port: 50052
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 120s
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 10s
    permitWithoutStream: true
scheduling:
  executorTimeout: 10m
  preemption:
    enabled: true
    nodeIdLabel: kubernetes.io/hostname
    priorityClasses:
      armada-default:
        priority: 1000
        maximalResourceFractionPerQueue:
          memory: 0.99
          cpu: 0.99
      armada-preemptible:
        priority: 900
        maximalResourceFractionPerQueue:
          memory: 0.99
          cpu: 0.99
    defaultPriorityClass: armada-default
  queueLeaseBatchSize: 1000
  minimumResourceToSchedule:
    memory: 1000000 # 1Mb
    cpu: 0.1
  maximalResourceFractionToSchedulePerQueue:
    memory: 1.0
    cpu: 1.0
  maximalResourceFractionPerQueue:
    memory: 1.0
    cpu: 1.0
  maximalClusterFractionToSchedule:
    memory: 1.0
    cpu: 1.0
  maximumJobsToSchedule: 5000
  maxUnacknowledgedJobsPerExecutor: 2500
  maxQueueReportsToStore: 1000
  MaxJobReportsToStore: 10000
  defaultJobLimits:
    cpu: 1
    memory: 1Gi
    ephemeral-storage: 8Gi
  defaultJobTolerations:
    - key: "armadaproject.io/armada"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
  defaultJobTolerationsByPriorityClass:
    "":
      - key: "armadaproject.io/pc-armada-default"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    armada-default:
      - key: "armadaproject.io/pc-armada-default"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    armada-preemptible:
      - key: "armadaproject.io/pc-armada-preemptible"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
  maxRetries: 5
  resourceScarcity:
    cpu: 1.0
  indexedResources:
    - cpu
    - memory
  gangIdAnnotation: armadaproject.io/gangId
  gangCardinalityAnnotation: armadaproject.io/gangCardinality

