apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "lookout.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lookout.labels.all" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "lookout.labels.identity" . | nindent 6 }}
  {{- if .Values.strategy }}
  strategy:
    {{- toYaml .Values.strategy | nindent 4 }}
  {{- end }}
  template:
    metadata:
      name: {{ include "lookout.name" . }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        {{- include "lookout.labels.all" . | nindent 8 }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      serviceAccountName: {{ .Values.customServiceAccount | default (include "lookout.name" .) }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 2000
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      containers:
        - name: lookout
          imagePullPolicy: IfNotPresent
          image: {{ .Values.image.repository }}:{{ required "A value is required for .Values.image.tag" .Values.image.tag }}
          args:
            - --config
            - /config/application_config.yaml
          {{- if or (include "lookout.gomemlimit" .) .Values.env}}
          env:
            {{- with include "lookout.gomemlimit" . }}
            - name: GOMEMLIMIT
              value: {{ quote . }}
            {{- end }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 -}}
            {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          ports:
            - containerPort:  {{ .Values.applicationConfig.grpcPort }}
              protocol: TCP
              name: grpc
            - containerPort: {{ .Values.applicationConfig.metricsPort }}
              protocol: TCP
              name: metrics
            - containerPort: {{ .Values.applicationConfig.httpPort }}
              protocol: TCP
              name: web
          volumeMounts:
            - name: user-config
              mountPath: /config/application_config.yaml
              subPath: {{ include "lookout.config.filename" . }}
              readOnly: true
            {{- if .Values.additionalVolumeMounts }}
            {{- toYaml .Values.additionalVolumeMounts | nindent 12 -}}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
          readinessProbe:
            httpGet:
              path: /health
              port: web
            initialDelaySeconds: 5
            timeoutSeconds: 5
            failureThreshold: 2
          livenessProbe:
            httpGet:
              path: /health
              port: web
            initialDelaySeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ include "lookout.name" . }}
                topologyKey: kubernetes.io/hostname
      volumes:
        - name: user-config
          secret:
            secretName: {{ include "lookout.config.name" . }}
        {{- if .Values.additionalVolumes }}
        {{- toYaml .Values.additionalVolumes | nindent 8 }}
        {{- end }}
