image:
  repository: gresearchdev/armada-server
  tag: LATEST
resources:
  limits:
    memory: 1Gi
    cpu: 300m
  requests:
    memory: 512Mi
    cpu: 200m
additionalLabels: {}
additionalVolumeMounts: []
additionalVolumes: []
terminationGracePeriodSeconds: 30
replicas: 1
strategy:
  rollingUpdate:
    maxUnavailable: 1
  type: RollingUpdate
ingress:
  nameOverride: ""
  annotations: {}
  labels: {}
prometheus:
  enabled: false
  labels: {}
  scrapeInterval: 15s
customServiceAccount: null
serviceAccount: null

applicationConfig:
  grpcPort: 50051
  httpPort: 8080
  pulsar: {}
