<header class="header-2 skew-separator">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets//img/ill/p8.svg' | relative_url }}')"></div>
    <div class="container pt-300">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <h2 class="display-2">Trello lets you work</h2>
        </div>
      </div>
      <div class="row">
        <div class="floating-box bg-default">
          <div class="box text-center">
            <div class="icon icon-shape bg-success icon-xl rounded-circle text-white">
              <i class="ni ni-spaceship"></i>
            </div>
          </div>
          <h2 class="lead text-white p-5">As a result of growing greenhouse gas emissions, climate models predict that our planet will get significantly warmer, that ecosystems will be changed or destroyed, and that enormous human and economic costs will be incurred. These scenarios aren’t guaranteed, but avoiding them will be very hard. We’re trying to take small steps to mitigate our impact.</h2>
        </div>
      </div>
    </div>
  </div>
</header>