<header class="header-5">
  <div class="page-header">
    <div class="container">
      <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
          <h1 class="display-3">Design with us,<span class="text-primary"> Develop Anything.</span></h1>
          <p class="lead pb-4">We aim high at being focused on building relationships with our clients and community. Using our creative gifts drives this foundation.</p>
          <div class="row row-input">
            <div class="col-sm-8 col-12">
              <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Your email" aria-label="Your email">
            </div>
            <div class="col-sm-4 col-12 pl-lg-0">
              <button type="submit" class="btn btn-primary btn-block">More</button>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-12 pl-0">
          <img class="ml-lg-5" src="{{ '/assets//img/ill/g6-2.svg' | relative_url }}" width="100%">
        </div>
      </div>
    </div>
  </div>
</header>