grpcPort: 50059
httpPort: 8080
metricsPort: 9000
grpc:
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 2h
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 5m
    permitWithoutStream: false
uiConfig:
  armadaApiBaseUrl: "http://armada-server:8080"
  userAnnotationPrefix: "armadaproject.io/"
  binocularsEnabled: true
  binocularsBaseUrlPattern: "http://armada-binoculars:8080"
  overviewAutoRefreshMs: 15000
  jobSetsAutoRefreshMs: 15000
  jobsAutoRefreshMs: 30000
  lookoutV2ApiBaseUrl: "http://armada-lookout-v2:10000"
postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: localhost
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable

prunerConfig:
  daysToKeep: 42
  batchSize: 1000
