grpcPort: 50059
httpPort: 8089
metricsPort: 9009

uiConfig:
  armadaApiBaseUrl: "http://localhost:8080"

annotationPrefix: "armada/"

postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: localhost
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable

nats:
  Servers:
    - "nats://localhost:4223"
  ClusterID: "test-cluster"
  Subject: "ArmadaTest"
  QueueGroup: "ArmadaLookoutEventProcessor"
