application:
  clusterId : "Cluster1"
  pool: "default"
  submitConcurrencyLimit: 2
  updateConcurrencyLimit: 10
  deleteConcurrencyLimit: 2
  useExecutorApi: false
task:
  utilisationReportingInterval: 1s
  missingJobEventReconciliationInterval: 15s
  jobLeaseRenewalInterval: 15s
  podDeletionInterval: 5s
  resourceCleanupInterval: 15s
  allocateSpareClusterCapacityInterval: 5s
  queueUsageDataRefreshInterval: 5s
  utilisationEventProcessingInterval: 1s
  utilisationEventReportingInterval: 5m
apiConnection:
  armadaUrl : "server:50051"
client:
  maxMessageSizeBytes: 8388608 # 1024 * 1024 * 8
metric:
  port: 9001
  exposeQueueUsageMetrics: false
kubernetes:
  impersonateUsers: false
  etcd:
    fractionOfStorageInUseSoftLimit: 0.8
    fractionOfStorageInUseHardLimit: 0.9
    minimumAvailable: 2
  QPS: 10000
  Burst: 10000
  minimumPodAge: 3m
  failedPodExpiry: 10m
  maxTerminatedPods: 1000 # Should be lower than kube-controller-managed terminated-pod-gc-threshold (default 12500)
  stuckTerminatingPodExpiry: 1m
  podKillTimeout: 5m
  podDefaults:
    ingress:
      hostnameSuffix: "svc"
      certNameSuffix: "ingress-tls-certificate"
  # Instantly fail jobs when the pod submission error matches the regexes below
  fatalPodSubmissionErrors:
    - "admission webhook"
    - "namespaces \".*\" not found"
  pendingPodChecks:
    deadlineForUpdates: 10m
    deadlineForNodeAssignment: 5m
    events:
      - regexp: "Failed to pull image.*desc = failed to pull and unpack image"            # Suggests genuine problem with image name, no point in waiting around too long.
        type: Warning
        gracePeriod: 90s
        action: Fail
      - regexp: "Failed to pull image.*code = Unknown desc = Error response from daemon"  # Seen when image doesn't exist, no point in waiting around too long.
        type: Warning
        gracePeriod: 90s
        action: Fail
      - regexp: "nodes are available"  # Catch-all, matches all except the FailedScheduling message "0/3 nodes are available:", this can happen in normal operation.
        inverse: true
        type: Warning
        gracePeriod: 5m
        action: Retry
    containerStatuses:
      - state: Waiting
        reasonRegexp: "InvalidImageName"  # If image name format is invalid (for example starts https://), fail immediately.
        gracePeriod: 0s
        action: Fail
      - state: Waiting
        reasonRegexp: "ImagePullBackOff"  # Can stay in this state a while for large images and overloaded registries, hence long timeout.
        gracePeriod: 15m
        action: Retry
      - state: Waiting
        reasonRegexp: "ErrImagePull"      # Can stay in this state a while for large images and overloaded registries, hence long timeout.
        gracePeriod: 15m
        action: Retry
      - state: Waiting                    # Default timeout for statuses not matched above.
        reasonRegexp: ".*"
        gracePeriod: 5m
        action: Retry
