.lookout-dialog {
  display: flex;
  flex-direction: column;
  padding: 0 3em 1em 3em !important;
  overflow-y: hidden !important;
}

.lookout-dialog-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.lookout-dialog-fixed {
  flex: 0 0 auto;
}

.lookout-dialog-varying {
  flex: 0 1 auto;
  margin-bottom: 1em;
  overflow-y: auto;
}

.lookout-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2em;
}

.lookout-dialog-centered button{
  border: 2px solid #00aae1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.lookout-dialog-centered-link{
text-decoration: none;
align-self: center;
padding-top:4px;
}

.MuiDialog-scrollPaper {
    align-items: baseline !important;
}

@media screen and (max-width:750px) {
  .lookout-dialog {
    padding: 0 0.5em 1em 0.5em !important;
  }

  .lookout-dialog-centered {
flex-direction: column;
  }
}