.job-details {
    margin-top: 1em;
}

.job-details-header {
    padding-top: 0.66em;
    padding-bottom: 0.66em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-details-header .title {
    margin-left: 16px;
    margin-bottom: 0.6em;
}

.job-details-header .refresh-button {
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.field-label {
    font-weight: bold !important;
}

.error-message {
    font-family: monospace !important;
    background-color: #f9f2f4;
    color: #c7254e !important;
}

.scheduling-history-title {
    margin-top: 2em;
    margin-left: 16px;
    width: 100%;
}

.scheduling-history {
    margin-bottom: 1em;
    width: 85%;
    align-self: center;
}

.history-label {

}

.nested-run {
    margin: 1em;
}
