.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.actions {
  flex: 0 0 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions .search {

}

.actions .refresh {

}

.job-table {
  flex: 1 1 auto;
}
