.job-table-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1em;
  padding-bottom: 0.67em;
  border-bottom: 1px solid lightgrey;
}

.job-table-header .left {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.job-table-header .center {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job-table-header .right {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.job-table-header .left .title {
  margin-bottom: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

.job-table-header .center .search {
  margin-left: 2em;
  margin-right: 2em;
}

.job-table-header .center .order {
  margin-left: 2em;
  margin-right: 2em;
  width: 6em;
}

.job-table-header .center .order .select-field {
  width: 6em;
}

.job-table-header .right .refresh {
  margin-right: 1em;
}
