postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: localhost
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable
metrics:
  port: 9000
pulsar:
  enabled: true
  URL: "pulsar://localhost:6650"
  jobsetEventsTopic: "events"
  receiveTimeout: 5s
  backoffTime: 1s
paralellism: 1
subscriptionName: "lookout-ingester"
batchSize: 10000
batchDuration: 500ms
minJobSpecCompressionSize: 1024
userAnnotationPrefix: "armadaproject.io/"
