apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "event_ingester.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "event_ingester.labels.all" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "event_ingester.labels.identity" . | nindent 6 }}
  {{- if .Values.strategy }}
  strategy:
    {{- toYaml .Values.strategy | nindent 4 }}
  {{- end }}
  template:
    metadata:
      name: {{ include "event_ingester.name" . }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        {{- include "event_ingester.labels.all" . | nindent 8 }}
    spec:
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      serviceAccountName: {{ .Values.customServiceAccount | default (include "event_ingester.name" .) }}
      securityContext:
        runAsUser: 1000
        runAsGroup: 2000
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      containers:
        - name: event-ingester
          imagePullPolicy: IfNotPresent
          image: {{ .Values.image.repository }}:{{ required "A value is required for .Values.image.tag" .Values.image.tag }}
          args:
            - --config
            - /config/application_config.yaml
          {{- if .Values.env }}
          env:
            {{- toYaml .Values.env | nindent 12 -}}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: user-config
              mountPath: /config/application_config.yaml
              subPath: {{ include "event_ingester.config.filename" . }}
              readOnly: true
            {{- if .Values.applicationConfig.pulsar.authenticationEnabled }}
            - name: pulsar-token
              mountPath: "/pulsar/tokens"
              readOnly: true
            {{- end }}
            {{- if .Values.applicationConfig.pulsar.tlsEnabled }}
            - name: pulsar-ca
              mountPath: "/pulsar/ca"
              readOnly: true
            {{- end }}
            {{- if .Values.additionalVolumeMounts }}
            {{- toYaml .Values.additionalVolumeMounts | nindent 12 -}}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - {{ include "event_ingester.name" . }}
                topologyKey: kubernetes.io/hostname
      volumes:
        - name: user-config
          secret:
            secretName: {{ include "event_ingester.config.name" . }}
        {{- if .Values.applicationConfig.pulsar.authenticationEnabled }}
        - name: pulsar-token
          secret:
            secretName: {{ .Values.applicationConfig.pulsar.authenticationSecret | default "armada-pulsar-token-armada-admin" | quote }}
            items:
              - key: TOKEN
                path: pulsar-token
        {{- end }}
        {{- if .Values.applicationConfig.pulsar.tlsEnabled }}
        - name: pulsar-ca
          secret:
            secretName: {{ .Values.applicationConfig.pulsar.cacert | default "armada-pulsar-ca-tls" | quote }}
            items:
              - key: ca.crt
                path: ca.crt
        {{- end }}
        {{- if .Values.additionalVolumes }}
        {{- toYaml .Values.additionalVolumes | nindent 8 }}
        {{- end }}
