version: "3.8"

networks:
  kind:
    external: true

volumes:
  # shared gopath volume for armada services
  # with this, modules do not need to be redundantly downloaded
  # and persist through restarts
  gopath:
  # shared gocache volume for armada services
  # with this, build artifacts do not need to be redundantly downloaded
  # and persist through restarts
  go-cache:

services:
  #
  # Infrastructure services.
  # A Kubernetes cluster (e.g., kind) must also be setup before starting Armada.
  #
  redis:
    container_name: redis
    image: redis
    ports:
      - "6379:6379"
    networks:
      - kind

  postgres:
    container_name: postgres
    image: postgres
    environment:
      - "POSTGRES_PASSWORD=psw"
    ports:
      - "5432:5432"
    networks:
      - kind

  pulsar:
    image: ${PULSAR_IMAGE:-apachepulsar/pulsar:2.10.0}
    container_name: pulsar
    volumes:
      - ./pulsar.conf:/conf/pulsar.conf
    entrypoint: bin/pulsar standalone
    ports:
      - "0.0.0.0:6650:6650"
    networks:
      - kind

  #
  # Armada services.
  #
  server:
    container_name: server
    image: golang:1.18-buster
    networks:
      - kind
    ports:
      - 50051:50051
      - 8080:8080
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    depends_on:
      - redis
      - postgres
      - pulsar
    working_dir: /app
    entrypoint: go
    command: run cmd/armada/main.go --config /config/armada/config.yaml
    environment:
      - LOOKOUTV2_HOST=https://10000--main--testing--sharpz7.coder.mcaq.me/
      - LOOKOUT_HOST=https://8089--main--testing--sharpz7.coder.mcaq.me/

  lookout:
    container_name: lookout
    image: golang:1.18-buster
    networks:
      - kind
    ports:
      - "8089:8089"
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    depends_on:
      - postgres
      - server
      - lookout-ingester
    working_dir: "/app"
    entrypoint: sh -c "localdev/scripts/lookout-start.sh"

  lookoutv2:
    container_name: lookoutv2
    image: golang:1.18-buster
    networks:
      - kind
    ports:
      - "10000:10000"
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    depends_on:
      - postgres
      - server
      - lookout-ingesterv2
    working_dir: "/app"
    entrypoint: sh -c "localdev/scripts/lookoutv2-start.sh"
    environment:
      - LOOKOUTV2_HOST=https://10000--main--testing--sharpz7.coder.mcaq.me/

  executor:
    container_name: executor
    image: golang:1.18-buster
    networks:
      - kind
    ports:
      - 9001:9001
    depends_on:
      - server
    volumes:
      - ./config:/config
      - ./.kube:/.kube
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    environment:
      - KUBECONFIG=/.kube/config
    working_dir: /app
    entrypoint: go
    command: run cmd/executor/main.go --config /config/executor/config.yaml

  binoculars:
    container_name: binoculars
    image: golang:1.18-buster
    networks:
      - kind
    ports:
      - 8082:8082
    depends_on:
      - server
    volumes:
      - ./config:/config
      - ./.kube:/.kube
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    environment:
      - KUBECONFIG=/.kube/config
    working_dir: /app
    entrypoint: go
    command: run cmd/binoculars/main.go --config /config/binoculars/config.yaml

  jobservice:
    container_name: jobservice
    image: golang:1.18-buster
    networks:
      - kind
    ports:
      - 60003:60003
    depends_on:
      - server
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: "/app"
    entrypoint: go
    command: run cmd/jobservice/main.go run --config /config/jobservice/config.yaml

  lookout-ingester:
    container_name: lookout-ingester
    image: golang:1.18-buster
    networks:
      - kind
    depends_on:
      - postgres
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: /app
    entrypoint: go
    command: run cmd/lookoutingester/main.go --config /config/lookoutingester/config.yaml

  lookout-ingesterv2:
    container_name: lookout-ingesterv2
    image: golang:1.18-buster
    networks:
      - kind
    depends_on:
      - postgres
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: /app
    entrypoint: go
    command: run cmd/lookoutingesterv2/main.go --config /config/lookoutingesterv2/config.yaml

  event-ingester:
    container_name: event-ingester
    image: golang:1.18-buster
    networks:
      - kind
    depends_on:
      - redis
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: /app
    entrypoint: go
    command: run cmd/eventingester/main.go --config /config/eventingester/config.yaml

  airflow:
    container_name: airflow
    image: python:3.8-buster
    networks:
      - kind
    ports:
      - 8081:8081
    volumes:
      - "..:/app:rw"
    working_dir: "/app"
    entrypoint: sh -c "localdev/scripts/airflow-start.sh"
