version: "3.8"

services:
  #
  # Armada services with debugging
  #
  server:
    container_name: server
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - 50051:50051
      - 9080:8080
      - 4000:4000
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    depends_on:
      - redis
      - postgres
      - pulsar
    working_dir: /app
    entrypoint: dlv
    command: debug --listen=:4000 --headless=true --log=true --accept-multiclient --api-version=2 --continue --output __debug_server cmd/armada/main.go -- --config /config/armada/config.yaml

  lookout:
    container_name: lookout
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - "9009:9009"
      - "8089:8089"
      - 4001:4000      
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    depends_on:
      - postgres
      - server
      - lookout-ingester
    working_dir: "/app"
    entrypoint: sh -c "localdev/scripts/lookout-debug-start.sh"

  executor:
    container_name: executor
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - 9001:9001
      - 4002:4000      
    depends_on:
      - server
    volumes:
      - ./config:/config
      - ./.kube:/.kube
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    environment:
      - KUBECONFIG=/.kube/config
    working_dir: /app
    entrypoint: dlv
    command: debug --listen=:4000 --headless=true --log=true --accept-multiclient --api-version=2 --continue --output __debug_executor cmd/executor/main.go -- --config /config/executor/config.yaml

  binoculars:
    container_name: binoculars
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - 8082:8082
      - 4003:4000
    depends_on:
      - server
    volumes:
      - ./config:/config
      - ./.kube:/.kube
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    environment:
      - KUBECONFIG=/.kube/config
    working_dir: /app
    entrypoint: dlv
    command: debug --listen=:4000 --headless=true --log=true --accept-multiclient --api-version=2 --continue --output __debug_binoc cmd/binoculars/main.go -- --config /config/binoculars/config.yaml

  jobservice:
    container_name: jobservice
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - 60003:60003
      - 4004:4000
    depends_on:
      - server
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: "/app"
    entrypoint: dlv
    command: debug --listen=:4000 --headless=true --log=true --accept-multiclient --api-version=2 --continue --output __debug_jobservice cmd/jobservice/main.go -- --config /config/jobservice/config.yaml

  lookout-ingester:
    container_name: lookout-ingester
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - 4005:4000
    depends_on:
      - postgres
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: /app
    entrypoint: dlv
    command: debug --listen=:4000 --headless=true --log=true --accept-multiclient --api-version=2 --continue --output __debug_lookout_ingester cmd/lookoutingester/main.go -- --config /config/lookoutingester/config.yaml

  event-ingester:
    container_name: event-ingester
    image: golang:1.18-delve
    networks:
      - kind
    ports:
      - 4006:4000
    depends_on:
      - redis
    volumes:
      - ./config:/config
      - "..:/app:rw"
      - "gopath:/go:rw"
      - "go-cache:/root/.cache/go-build:rw"
    working_dir: /app
    entrypoint: dlv
    command: debug --listen=:4000 --headless=true --log=true --accept-multiclient --api-version=2 --continue --output __debug_event_ingester cmd/eventingester/main.go -- --config /config/eventingester/config.yaml
