# Default values for armada-bundle.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

dependencies:
  # -- Toggle whether to install Armada Server
  armada-server: true
  # -- Toggle whether to install Armada Executor
  armada-executor: true
  # -- Toggle whether to install Armada Lookout UI
  armada-lookout: true
  # -- Toggle whether to install Armada Lookout migrations
  armada-lookout-migration: true
  # -- Toggle whether to install Armada Lookout Ingester
  armada-lookout-ingester: true
  # -- Toggle whether to install Redis HA cluster
  redis-ha: true
  # -- Toggle whether to install Streaming NATS
  stan: true
  # -- Toggle whether to install Pulsar
  pulsar: true
  # -- Toggle whether to install executor cluster monitoring rules (NOTE: requires Prometheus CRDs)
  executor-cluster-monitoring: true
  # -- Toggle whether to install PostgreSQL
  postgresql: true

redis-ha:
  fullnameOverride: redis-ha
  hardAntiAffinity: false
  persistentVolume:
    enabled: false

postgresql:
  fullnameOverride: postgresql
  auth:
    postgresPassword: psw

stan:
  stan:
    # -- Streaming NATS Cluster ID (set during install and saved in the persistence backend)
    clusterID: "armada-cluster"
  nameOverride: stan

armada:
  image:
    repository: gresearchdev/armada-server
    tag: v0.3.36
  # -- Ingress class
  ingressClass: nginx
  # -- ClusterIssuer from whom a Let's Encrypt certificate will be requested
  clusterIssuer: dev-ca
  hostnames: []

  applicationConfig:
    grpcPort: 50051
    httpPort: 8080
    # -- Armada auth config
    auth: {}
#      Here is an example auth config which disables basic auth and allows anybody to submit jobs
#      NOTE: This setup should never be used in production environments
#      basicAuth:
#        enableAuthentication: false
#      anonymousAuth: true
#      permissionGroupMapping:
#        submit_jobs: [ "everyone" ]
#        submit_any_jobs: [ "everyone" ]
#        create_queue: [ "everyone" ]
#        delete_queue: [ "everyone" ]
#        cancel_jobs: [ "everyone" ]
#        cancel_any_jobs: [ "everyone" ]
#        reprioritize_jobs: [ "everyone" ]
#        reprioritize_any_jobs: [ "everyone" ]
#        watch_events: [ "everyone" ]
#        watch_all_events: [ "everyone" ]
#        execute_jobs: [ "everyone" ]
    redis:
      masterName: "mymaster"
      # -- master Redis cluster instance URLs
      addrs: []
#        - "redis-ha-announce-0.armada.svc.cluster.local:26379"
#        - "redis-ha-announce-1.armada.svc.cluster.local:26379"
#        - "redis-ha-announce-2.armada.svc.cluster.local:26379"
    eventsRedis:
      masterName: "mymaster"
      # -- events Redis cluster instance URLs
      addrs: []
#        - "redis-ha-announce-0.armada.svc.cluster.local:26379"
#        - "redis-ha-announce-1.armada.svc.cluster.local:26379"
#        - "redis-ha-announce-2.armada.svc.cluster.local:26379"
      poolSize: 1000
    eventsNats:
      timeout: 10s
      # -- events STAN URIs
      servers: []
#        - "nats://stan.armada.svc.cluster.local:4222"
      # -- STAN cluster ID
      clusterId: "armada-cluster"
      subject: "ArmadaTest"
      QueueGroup: "ArmadaEventRedisProcessor"
    scheduling:
      probabilityOfUsingNewScheduler: 1
      # -- default node tolerations for Armada jobs
      defaultJobTolerations: []
#        - key: armada.io/batch
#          operator: Exists
#          effect: NoSchedule
    pulsar:
      # -- Toggle whether to connect to Pulsar
      enabled: true
      # -- Pulsar connection string
      URL: "pulsar://pulsar-broker.armada.svc.cluster.local:6650"
  prometheus:
    # -- Toggle whether to create a ServiceMonitor for Armada Server
    enabled: true

  nodePort: 30000

armada-executor:
  image:
    repository: gresearchdev/armada-executor
    tag: v0.3.36
  nodeSelector: nil
  applicationConfig:
    apiConnection:
      # -- URL of Armada Server gRPC endpoint
      armadaUrl: armada.default.svc.cluster.local:50051
      ## Please note that this setting is insecure
      ## Do not use this setting in a production environment
      ## This should only be used for the quickstart and local testing
      # -- Only to be used for development purposes and in cases where Armada server does not have a certificate
      forceNoTls: true
    kubernetes:
      minimumPodAge: 0s

  prometheus:
    # -- Toggle whether to create ServiceMonitor for Armada Executor
    enabled: true

executor-cluster-monitoring:
  additionalLabels:
    app: prometheus-operator
    release: prometheus-operator

  interval: 5s

armada-lookout:
  image:
    repository: gresearchdev/armada-lookout
    tag: v0.3.36
  # -- Ingress class
  ingressClass: nginx
  ingress:
    # -- Ingress annotations
    annotations: {}
    # -- Ingress labels
    labels: {}
  # -- ClusterIssuer from whom a Let's Encrypt certificate will be requested
  clusterIssuer: dev-ca
  # -- Ingress hostnames
  hostnames: []

  prometheus:
    # -- Toggle whether to create a ServiceMonitor for Lookout
    enabled: true

  applicationConfig:
    # -- Armada does not require a streaming backend anymore so this options turns off processing via streaming backend (Jetstream, SNAT)
    disableEventProcessing: true
    eventQueue: "ArmadaLookoutEventProcessor"
    postgres:
      connection:
        # -- Postgres host
        host: postgresql.armada.svc.cluster.local
        # -- Postgres port
        port: 5432
        # -- Postgres username
        user: postgres
        # -- Postgres user password
        password: psw
        # -- Postgres database
        dbname: postgres

armada-lookout-migration:
  image:
    tag: v0.3.36
  ingressClass: nginx
  clusterIssuer: letsencrypt-dev

  prometheus:
    enabled: true

  applicationConfig:
    postgres:
      # -- Postgres max open connections
      maxOpenConns: 100
      # -- Postgres max idle connections
      maxIdleConns: 25
      # -- Postgres connection max lifetime
      connMaxLifetime: 30m
      connection:
        # -- Postgres host
        host: postgresql.armada.svc.cluster.local
        # -- Postgres port
        port: 5432
        # -- Postgres username
        user: postgres
        # -- Postgres user password
        password: psw
        # -- Postgres database
        dbname: postgres

armada-lookout-ingester:
  image:
    repository: gresearchdev/armada-lookout-ingester-dev
    tag: 88ea8f0b8124c7dbbb44f7c7315c0fca13655f18
  applicationConfig:
    postgres:
      # -- Postgres max open connections
      maxOpenConns: 100
      # -- Postgres max idle connections
      maxIdleConns: 25
      # -- Postgres connection max lifetime
      connMaxLifetime: 30m
      connection:
        # -- Postgres host
        host: postgresql.armada.svc.cluster.local
        # -- Postgres port
        port: 5432
        # -- Postgres username
        user: postgres
        # -- Postgres user password
        password: psw
        # -- Postgres database
        dbname: postgres
        # -- Postgres SSL mode
        sslmode: disable
    pulsar:
      # -- Toggle whether to connect to Pulsar
      enabled: true
      # -- Pulsar connection string
      URL: "pulsar://pulsar-broker.armada.svc.cluster.local:6650"
      jobsetEventsTopic: "persistent://armada/armada/events"

pulsar:
  armadaInit:
    # -- Toggle whether to enable the job which creates necessary Pulsar resources needed by Armada
    enabled: false
    image:
      # -- Pulsar image which contains pulsar-admin
      repository: apachepulsar/pulsar
      # -- Pulsar image tag
      tag: 3.0.0
    # -- Pulsar Broker host
    brokerHost: pulsar-broker.armada.svc.cluster.local
    # -- Protocol used for connecting to Pulsar Broker host (either `http` or `https`)
    protocol: http
    # -- Pulsar admin (REST) port
    adminPort: 8080
    # -- Pulsar application port
    port: 6650
  proxy:
    service:
      # -- Pulsar Proxy kubernetes service type
      type: ClusterIP
  grafana:
    service:
      # -- Pulsar Grafana kubernetes service type
      type: ClusterIP
  initialize: true
  # -- Fullname override for Pulsar release
  fullnameOverride: pulsar
