version: "3.9"
services:
  redis:
    image: redis
    ports:
      - "6379:6379"
  postgres:
    image: postgres
    environment:
      - "POSTGRES_PASSWORD=psw"
    ports:
      - "5432:5432"
  stan:
    image: nats-streaming
    command: "-p 4223 -m 8223"
    ports:
      - "4223:4223"
      - "8223:8223"
  pulsar:
    image: apachepulsar/pulsar:2.10.0
    profiles: ["linux"]
    container_name: pulsar
    volumes:
      - ../../scripts/pulsar.sh:/pulsar.sh
    entrypoint: sh -c "bin/pulsar standalone && . /pulsar.sh"
    ports: 
      - "6650:6650"
