.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

.state {
  flex: 1 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
