apiPort: 10000

corsAllowedOrigins: ["http://localhost:3000", "http://localhost:8089", "http://localhost:10000"]

uiConfig:
  armadaApiBaseUrl: "http://localhost:8080"
  userAnnotationPrefix: "armadaproject.io/"
  binocularsEnabled: true
  binocularsBaseUrlPattern: "http://localhost:8082" # {CLUSTER_ID} gets replaced by appropriate cluster id

postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: postgres
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable

prunerConfig:
  expireAfter: 1008h  # 42 days, 6 weeks
  timeout: 1h
  batchSize: 1000
