grpcPort: 50059
httpPort: 8089
metricsPort: 9009

grpc:
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 2h
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 5m
    permitWithoutStream: false

uiConfig:
  armadaApiBaseUrl: "http://localhost:8080"
  userAnnotationPrefix: "armadaproject.io/"
  binocularsEnabled: true
  binocularsBaseUrlPattern: "http://localhost:8082" # {CLUSTER_ID} gets replaced by appropriate cluster id
  overviewAutoRefreshMs: 15000
  jobSetsAutoRefreshMs: 15000
  jobsAutoRefreshMs: 30000

postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: postgres
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable

prunerConfig:
  daysToKeep: 42
  batchSize: 1000
