<header class="header-1">
    <div class="page-header">
      <div class="page-header-image" style="background-image: url('{{ '/assets//img/ill/p2.svg' | relative_url }}')"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-7 mr-auto text-left d-flex justify-content-center flex-column">
            <h3 class="display-3">Argon Design System</h3>
            <p class="lead mt-0">The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. </p>
            <br>
            <div class="buttons">
              <a href="javascript:;" class="btn btn-danger">
                Got it
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>