NEXT_PUBLIC_BASE_PATH="/armada" # optional, used to support GitHub Pages
NEXT_PUBLIC_REPOSITORY_URL="https://github.com/armadaproject/armada" # optional, used to add links to the repository
GITHUB_TOKEN="" # optional, used for: import { GithubInfo } from 'fumadocs-ui/components/github-info'
