NEXT_PUBLIC_BASE_PATH="/armada"
NEXT_PUBLIC_REPOSITORY_URL="https://github.com/armadaproject/armada"
GITHUB_TOKEN="" # optional, used for: import { GithubInfo } from 'fumadocs-ui/components/github-info'
