development: false
grpcPort: ":50051"
priorityHalfTime: 20m
redis:
  addrs:
    - "localhost:6379"
  password: ""
  db: 0
  poolSize: 1000
eventsRedis:
  addrs:
    - "localhost:6379"
  password: ""
  db: 0
  poolSize: 1000
basicAuth:
  enableAuthentication: false
