grpcPort: 50051
httpPort: 8080
metricsPort: 9000
corsAllowedOrigins:
  - http://localhost:3000
  - http://localhost:8089
  - http://localhost:10000
cancelJobsBatchSize: 1000
pulsarSchedulerEnabled: true
probabilityOfUsingPulsarScheduler: 1
ignoreJobSubmitChecks: false
schedulerApiConnection:
  armadaUrl: "localhost:50052"
grpc:
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 120s
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 10s
    permitWithoutStream: true
  tls:
    enabled: false
redis:
  addrs:
    - redis:6379
  password: ""
  db: 0
  poolSize: 1000
eventsApiRedis:
  addrs:
    - redis:6379
  password: ""
  db: 1
  poolSize: 1000
scheduling:
  enableAssertions: true
  fairnessModel: "AssetFairness"
  dominantResourceFairnessResourcesToConsider:
    - "cpu"
    - "memory"
    - "nvidia.com/gpu"
  resourceScarcity:
    cpu: 1.0
  preemption:
    nodeEvictionProbability: 1.0
    nodeOversubscriptionEvictionProbability: 1.0
    protectedFractionOfFairShare: 1.0
    setNodeIdSelector: true
    nodeIdLabel: kubernetes.io/hostname
    setNodeName: false
    priorityClasses:
      armada-default:
        priority: 1000
        preemptible: false
        maximumResourceFractionPerQueue:
          memory: 1.0
          cpu: 1.0
      armada-preemptible:
        priority: 1000
        preemptible: true
    defaultPriorityClass: armada-default
    priorityClassNameOverride: armada-default
  maxQueueLookback: 1000
  maxExtraNodesToConsider: 1
  maximumResourceFractionToSchedule:
    memory: 1.0
    cpu: 1.0
  maxJobSchedulingContextsPerExecutor: 10000
  lease:
    expireAfter: 15m
    expiryLoopInterval: 5s
  defaultJobLimits:
    cpu: 1
    memory: 1Gi
    ephemeral-storage: 8Gi
  defaultJobTolerations:
    - key: "armadaproject.io/armada"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
  defaultJobTolerationsByPriorityClass:
    armada-default:
      - key: "armadaproject.io/pc-armada-default"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    armada-preemptible:
      - key: "armadaproject.io/pc-armada-preemptible"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
  maxRetries: 5
  maxPodSpecSizeBytes: 65535
  minJobResources:
    memory: 1Mi
  indexedResources:
    - name: "cpu"
      resolution: "100m"
    - name: "memory"
      resolution: "1Mi"
  minTerminationGracePeriod: 1s
  maxTerminationGracePeriod: 300s
queueManagement:
  defaultPriorityFactor: 1000
  defaultQueuedJobsLimit: 0  # No Limit
  autoCreateQueues: true
eventRetention:
  expiryEnabled: true
  retentionDuration: 336h
metrics:
  refreshInterval: 5m
  exposeSchedulingMetrics: true
pulsar:
  URL: "pulsar://pulsar:6650"
  jobsetEventsTopic: "events"
  redisFromPulsarSubscription: "RedisFromPulsar"
  hostnameSuffix: "svc"
  certNameSuffix: "ingress-tls-certificate"
  dedupTable: pulsar_submit_dedup
  maxConnectionsPerBroker: 1
  compressionType: zlib
  compressionLevel: faster
  eventsPrinter: false
  eventsPrinterSubscription: "EventsPrinter"
  maxAllowedMessageSize: 4194304 # 4MB
postgres:
  maxOpenConns: 100
  maxIdleConns: 25
  connMaxLifetime: 30m
  connection:
    host: postgres
    port: 5432
    user: postgres
    password: psw
    dbname: postgres
    sslmode: disable
