
grpcPort: 50051
httpPort: 8080
metricsPort: 9000
corsAllowedOrigins: []
priorityHalfTime: 20m
redis:
  addrs:
    - "localhost:6379"
  password: ""
  db: 0
  poolSize: 1000
eventsRedis:
  addrs:
    - "localhost:6379"
  password: ""
  db: 0
  poolSize: 1000
scheduling:
  useProbabilisticSchedulingForAllResources: true
  queueLeaseBatchSize: 200
  minimumResourceToSchedule:
    memory: 100000000 # 100Mb
    cpu: 0.25
  maximumJobsToSchedule: 5000
  maximumLeasePayloadSizeBytes: 7340032 # 1024 * 1024 * 7
  maximalClusterFractionToSchedule:
    memory: 0.25
    cpu: 0.25
  lease:
    expireAfter: 15m
    expiryLoopInterval: 5s
  maxRetries: 5
  maxPodSpecSizeBytes: 65535
queueManagement:
  defaultPriorityFactor: 1000
eventStoreQueue: "ArmadaEventRedisProcessor"
eventJobStatusQueue: "ArmadaEventJobStatusProcessor"
eventsNats:
  timeout: 10s
databaseRetention:
  jobRetentionDuration: 168h # Specified as a Go duration
eventRetention:
  expiryEnabled: true
  retentionDuration: 336h # Specified as a Go duration
metrics:
  refreshInterval: 10s
