grpcPort: ":50051"
priorityHalfTime: 20m
redis:
  addr: "localhost:6379"
  password: ""
  db: 0
eventsRedis:
  addr: "localhost:6379"
  password: ""
  db: 0
authentication:
  enableAuthentication: false
