
grpcPort: 50051
httpPort: 8080
metricsPort: 9000
corsAllowedOrigins: []
priorityHalfTime: 20m
cancelJobsBatchSize: 200
grpc:
  keepaliveParams:
    maxConnectionIdle: 5m
    time: 2h
    timeout: 20s
  keepaliveEnforcementPolicy:
    minTime: 10s
    permitWithoutStream: false
redis:
  addrs:
    - "localhost:6379"
  password: ""
  db: 0
  poolSize: 1000
eventsRedis:
  addrs:
    - "localhost:6379"
  password: ""
  db: 0
  poolSize: 1000
scheduling:
  useProbabilisticSchedulingForAllResources: true
  queueLeaseBatchSize: 200
  maximumLeasePayloadSizeBytes: 7340032 # 1024 * 1024 * 7
  minimumResourceToSchedule:
    memory: 100000000 # 100Mb
    cpu: 0.25
  maximalClusterFractionToSchedule:
    memory: 0.25
    cpu: 0.25
  maximumJobsToSchedule: 5000
  lease:
    expireAfter: 15m
    expiryLoopInterval: 5s
  maxRetries: 5
  maxPodSpecSizeBytes: 65535
  minJobResources:
    memory: 1Mi
queueManagement:
  defaultPriorityFactor: 1000
  defaultQueuedJobsLimit: 0  # No Limit
events:
  storeQueue: "ArmadaEventRedisProcessor"
  jobStatusQueue: "ArmadaEventJobStatusProcessor"
  processorBatchSize: 100
  processorMaxTimeBetweenBatches: 1s
  processorTimeout: 10s
eventsNats:
  timeout: 10s
databaseRetention:
  jobRetentionDuration: 168h # Specified as a Go duration
eventRetention:
  expiryEnabled: true
  retentionDuration: 336h # Specified as a Go duration
metrics:
  refreshInterval: 10s
pulsar:
  enabled: true
  URL: "pulsar://localhost:6650"
  maxAllowedMessageSize: 4194304 # 4MB
  jobsetEventsTopic: "persistent://armada/armada/events"
  redisFromPulsarSubscription: "RedisFromPulsar"
  pulsarFromPulsarSubscription: "PulsarFromPulsar"
  hostnameSuffix: "svc"
  certNameSuffix: "ingress-tls-certificate"
  eventsPrinter: false
  eventsPrinterSubscription: "EventsPrinter"
eventapi:
  enabled : false
  queryConcurrency: 100
  jobsetCacheSize:  10000
  updateTopic:      sequence-updates
  postgres:
    maxOpenConns: 100
    maxIdleConns: 25
    connMaxLifetime: 30m
    connection:
      host: localhost
      port: 5432
      user: postgres
      password: psw
      dbname: postgres
      sslmode: disable
