grpc:
  port: 50052
  tls:
    enabled: false
auth:
  anonymousAuth: true
  permissionGroupMapping:
    execute_jobs: ["everyone"]
pulsar:
  URL: "pulsar://localhost:6650"
armadaApi:
  armadaUrl: "localhost:50051"
  forceNoTls: true
postgres:
  connection:
    host: localhost
    port: 5432
    user: postgres
    password: psw
    dbname: scheduler
    sslmode: disable
scheduling:
  indexedNodeLabels:
    - "kubernetes.io/hostname"
metrics:
  port: 9001
