name: Release Airflow Operator to PYPI

on:
  workflow_dispatch: {}

jobs:
  run-python-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.18' ]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/go-setup
      - run: make airflow-operator
      - uses: ./.github/workflows/python-tests
        with:
          python-version: '3.8.10'
          path: 'third_party/airflow'
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: third_party/airflow/dist/
