name: Release Airflow Operator to PYPI

on:
  workflow_dispatch: {}

jobs:
  run-python-tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go: [ '1.20' ]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/go-setup
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.17.3'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: make airflow-operator
      - uses: ./.github/workflows/python-tests
        with:
          python-version: '3.8'
          tox-env: 'py38'
          path: third_party/airflow
          github-token: ${{secrets.GITHUB_TOKEN}}
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: third_party/airflow/dist/
