name: Code Coverage

on:
  push:
  pull_request:

jobs:
  go-unit-coverage:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/go-setup
        with:
          go-version: 1.20

      - name: make tests
        run: make tests

      - name: Go Test Coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./internal_coverage.xml,./cmd_coverage.xml # optional
          flags: armada-server
