name: Go Tests

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches-ignore:
      - gh-pages

jobs:
  go-lint:
    # TODO(JayF): Configure this to only run when golang code has changed
    runs-on: ubuntu-latest-4-cores
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.18' ]
    steps:
      - uses: actions/checkout@v3
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.17.3'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/workflows/go-setup

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: "latest"
          skip-pkg-cache: true
          skip-build-cache: true
          args: "-c ./.golangci.yml --timeout=10m --issues-exit-code=1 --max-issues-per-linter=0 --sort-results ./..."

      # TODO(JayF): Consider moving this into its own job, that runs under a larger set of circumstances
      #             since it's possible for this to fail without any go changes being made.
      - name: Validate no changes in generated proto files
        run: |
          make proto
          make dotnet
          git status -s -uno
          git --no-pager diff
          exit $(git status -s -uno | wc -l)

  go-unit-tests:
    runs-on: ubuntu-latest-4-cores
    strategy:
      fail-fast: false
      matrix:
        go: [ '1.18' ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/go-setup

      - name: make tests
        run: make tests

      - name: make junit-report
        run: make junit-report

      - name: Upload junit report
        uses: actions/upload-artifact@v3.1.1
        with:
          name: junit.xml
          path: test_reports/junit.xml
