name: Run Python Linting and Unit Tests

on:
  push:
    branches-ignore:
      - master
    paths:
      - 'client/python/**'
      - 'build/python-client/**'
      - 'pkg/api/*.proto'
      - '.github/workflows/python.yml'
      - 'docs/python_armada_client.md'
      - 'scripts/build-python-client.sh'
      - 'makefile'

  pull_request:
    branches-ignore:
      - gh-pages
    paths:
      - 'client/python/**'
      - 'build/python-client/**'
      - 'pkg/api/*.proto'
      - '.github/workflows/python.yml'
      - 'docs/python_armada_client.md'
      - 'scripts/build-python-client.sh'
      - 'makefile'

jobs:
  run-tox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.10'
      - run: pip install tox
      # Generate the proto files for python, required for later steps
      - run: make python
      - name: Run tox format environment
        run: tox -e format
        working-directory: client/python
      - name: Verify docs updated if needed
        run: tox -e docs-check
        working-directory: client/python
      - name: Run tox python 3.8 unit tests
        run: tox -e py38
        working-directory: client/python
  python-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/go-setup
      - uses: satackey/action-docker-layer-caching@v0.0.11
        continue-on-error: true
      - run: make build-ci
      - run: make tests-e2e-setup
      - name: Run Python Integration Tests
        run: |
          make tests-e2e-python
      - run: make tests-e2e-teardown
