name: Run Python Linting and Unit Tests

on:
  push:
    branches-ignore:
      - master
    paths:
      - 'client/python/**'
      - 'build/python-client/**'
      - 'pkg/api/*.proto'
      - '.github/workflows/python.yml'
      - 'docs/python_armada_client.md'
      - 'scripts/build-python-client.sh'
      - 'makefile'

  pull_request:
    branches-ignore:
      - gh-pages
    paths:
      - 'client/python/**'
      - 'build/python-client/**'
      - 'pkg/api/*.proto'
      - '.github/workflows/python.yml'
      - 'docs/python_armada_client.md'
      - 'scripts/build-python-client.sh'
      - 'makefile'

jobs:
  run-tox:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # We technically support 1.16 and 1.18; but this just needs any
        # go version new enough to generate python proto files; 1.18 is
        # more future-proof, so use it.
        go: [ '1.18' ]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/go-setup
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8.10'
      # Tox to run tests; build to build the wheel after tests pass
      - run: pip install tox build twine
      # Generate the proto files for python, required for later steps
      - run: make python
      - name: Run tox format environment
        run: tox -e format
        working-directory: client/python
      - name: Verify docs updated if needed
        run: tox -e docs-check
        working-directory: client/python
      - name: Run tox python 3.8 unit tests
        run: tox -e py38
        working-directory: client/python
      - name: Build and verify wheel
        run: |
          python -m build --wheel
          twine check client/python/dist/*
        working-directory: client/python
      - name: Upload wheel
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: client/python/dist/
  python-integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # We technically support 1.16 and 1.18; but this just needs any
        # go version new enough to generate python proto files; 1.18 is
        # more future-proof, so use it.
        go: [ '1.18' ]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/go-setup
      - run: make build-ci
      - run: make tests-e2e-setup
      - name: Run Python Integration Tests
        run: |
          make tests-e2e-python
      - run: make tests-e2e-teardown
