name: Release Python Client to PYPI

on:
  workflow_dispatch: {}

jobs:
  run-python-tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go: [ '1.18' ]
        python: [ '3.8']
        include:
          - tox-env: 'py38'
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/workflows/go-setup
      - uses: ./.github/workflows/python-tests
        with:
          python-version: "3.8"
          tox-env: "py38"
          path: 'client/python'
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: client/python/dist/
